Hi <%= @student.full_name %>,

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Ticket Available(s):</strong>
  <ul>
  <% @event.tickets.each do |ticket| %>
    <li><%= ticket.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Organising Club:</strong>
  <%= @event.org_club.name %>
   
</p>

<div>
  <strong>Invited club(s):</strong>
  <% if @event.invited_clubs.empty? %>
  	None
  <% else %>
  <ul>
  <% @event.invited_clubs.each do |club| %>
  	<li><%= link_to club.name, club %></li>
  <% end %>
  </ul>
  <% end %>
  
  
</div>
<br/>
Thank you for booking <%= @booking.num_tickets %> <%= Ticket.find_by(id: @booking.ticket_id).name %>  ticket(s) !!!
<br/>
By the way, you can edit your booking details here: <%= edit_booking_url(@booking)%>
<br/>
Your faithfully,
<br/>
Club Biz 2014.