<div class="col-md-4 col-md-offset-4">
<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true ,class: "form-control" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control"  %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in",class: "btn btn-lg btn-primary btn-block"%></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
