<h1>Search page for Club-Biz</h1>

    <div class="panel panel-success">
    <div class="panel-heading">
      <ul class="nav nav-pills">
        <li class="active"><a href="#club-results" data-toggle="tab">Club results</a></li>
        <li><a href="#event-results" data-toggle="tab">Event Results</a></li>
      </ul>
    </div>
    <div class="panel-body">


          <div class="tab-content">
        <div class="tab-pane active" id="club-results"><table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name , club%></td>
        <td><%= club.description %></td>
        <td><%= club.contact %></td>
      </tr>
    <% end %>
  </tbody>
</table></div>
        <div class="tab-pane" id="event-results">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to  event.name, event %></td>
        <td><%= event.date %></td>
        <td><%= event.time.to_s(:time) %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>

      </tr>
    <% end %>
  </tbody>
</table></div>
      </div>
    </div>
    </div>





