<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @ticket.start_date %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @ticket.close_date %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @ticket.msg %>
</p>

<p>
  <strong>Max no:</strong>
  <%= @ticket.max_no %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
