<div class="page-header">
  <h1>University Admin Homepage</h1>
</div>
<div class="row">
	<h3>Club registration requests</h3>
  	<% if not @clubs.empty? %>
		<table>
	      <col width="250">
	      <col width="100">
	      <col width="200">
	      <col width="250">
	    	<thead>
	    		<tr>
	    			<th>Name</th>
	        	<th>Registration Number</th>
	        	<th>Club Admin username</th>
	        	<th>Contact</th>
	      	</tr>
	    	</thead>

	    	<tbody>
	      	<% @clubs.each do |club| %>
	        	<tr>
	          		<td><%= club.name %></td>
	          		<td><%= club.regis_num %></td>
	          		<td><%= club.admin %></td>
	          		<td><%= club.contact %></td>
	          		<td><%= button_to 'Accept', action: 'accept' , :request_id => club.id, class: "btn btn-success" %></td>
					<td><%= button_to 'Reject', action: 'reject' , :request_id => club.id, class: "btn btn-danger" %></td>
	        	</tr>
	      	<% end %>
	    	</tbody>
		</table>
  <% else %>
  <br/>No pending club requests.
  <% end %>
  <br/>
  <%= link_to 'Admin: Sign Out', destroy_admin_session_path, method: :delete %>

</div>
