<div class="col-md-10 col-md-offset-1">
<h1>Listing clubs</h1>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.description %></td>
        <td><%= club.contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

