<div class="page-header">
  <h1><%= @club.name %></h1>
</div>

<div class="row">
  <div class="col-md-2" align="center">
    <% if current_student %>
      <% if current_student.admin_club.include?(@club) %>
        <%= link_to 'ADMIN Options', "#admin-options", class: "btn btn-primary" %>

      <% else %>
        <% if not current_student.subscribed_clubs.include?(@club) %>
          <%= button_to 'Subscribe', {action: 'subscribe', :club_id => @club.id}, class: "btn btn-info" %>

        <% else %>
          <%= button_to 'Unsubscribe', {action: 'unsubscribe', :club_id => @club.id}, class: "btn btn-warning" %>
        <% end %>
      <% end %>

    <% else %>
      <%= button_to 'Sign in to Subscribe', {action: 'subscribe', :club_id => @club.id}, class: "btn btn-info", disabled: "disabled" %>
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="panel panel-success">
    <div class="panel-heading">
      <ul class="nav nav-pills">
        <li class="active"><a href="#about" data-toggle="tab">About Club</a></li>
        <li><a href="#contact" data-toggle="tab">Contacts</a></li>
      </ul>
    </div>
    <div class="panel-body">
      

      <div class="tab-content">
        <div class="tab-pane active" id="about"><%= simple_format @club.description %></div>
        <div class="tab-pane" id="contact"><%= simple_format @club.contact %></div>
      </div>
    </div>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-primary">
    <div class="panel-heading">Club Announcements</div>
    <div class="panel-body">
      <% if not @announcements.empty? %>
        <table>
          <tbody>
            <% @announcements.each do |announcement| %>
            <tr>
            <td><strong><%= link_to announcement.club.name, announcement.club %></strong>:<%= announcement.content %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        There is no announcement.
      <% end %>
    </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
    <div class="panel-heading">Club Events</div>
    <div class="panel-body">    
      <% if not @participating_events.empty? %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
              <th>Organising Club</th>
            </tr>
          </thead>

          <tbody>
          <% @participating_events.each do |p_event| %>
            <tr>
              <td><%= link_to p_event.name, p_event %></td>
              <td><%= p_event.date %></td>
              <td><%= p_event.time.to_s(:time) %></td>
              <td><%= p_event.location %></td>
              <td><%= p_event.org_club.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% else %>
        This club is so boring. No events at all...
      <% end %>
    </div>
    </div>
  </div>
</div>



<% if current_student and current_student.admin_club.include?(@club) %>
<div class="well" id="admin-options">
<p>
  <%= button_to 'ADMIN: Create Event', {action: 'create_event'} , :club_id => @club.id, class: "btn btn-success" %><br/>

  <strong>ADMIN: Create New Announcement</strong><br/>
  
  <%= form_for :announcement, :url => announce_path, :method => 'post' do |f| %>
    <div class="field" style="float:left;">
      <%= f.text_field :content , :size=>75%>
    </div>

    <div class="actions" style="float:left;">
      <%= f.submit 'Post'%>
    </div>

    <div style="clear:both;">
    </div>
  <% end %>

  <br/>

  <strong>ADMIN: Event Invitations</strong>
  <% if not @club.invited_events.empty? %>
  <table>
      <col width="250">
      <col width="100">
      <col width="200">
      <col width="250">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <% @club.invited_events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event %></td>
          <td><%= event.date %></td>
          <td><%= event.time.to_s(:time) %></td>
          <td><%= event.location %></td>
          <td><%= button_to 'Accept', {action: 'accept_invite', :event_id => event.id}, class: "btn btn-success" %>
          <td><%= button_to 'Reject', {action: 'reject_invite', :event_id => event.id}, class: "btn btn-danger" %>
        </tr>
        <% end %>
      </tbody>
  </table>
  <% else %>
  <br/>Other clubs don't like you. No event invitation from other clubs.
  <% end %>
</p>

<hr/>

<%= link_to 'ADMIN: Edit Profile', edit_club_path(@club) %>

<hr/>
</div>
<% end %>