<%= form_for(@club_request) do |f| %>
  <% if @club_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club_request.errors.count, "error") %> prohibited this club_request from being saved:</h2>

      <ul>
      <% @club_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :regis_num %><br>
    <%= f.number_field :regis_num %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.text_field :admin %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_area :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
