<h1>Listing club_requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Regis num</th>
      <th>Admin</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @club_requests.each do |club_request| %>
      <tr>
        <td><%= club_request.name %></td>
        <td><%= club_request.regis_num %></td>
        <td><%= club_request.admin %></td>
        <td><%= club_request.contact %></td>
        <td><%= link_to 'Show', club_request %></td>
        <td><%= link_to 'Edit', edit_club_request_path(club_request) %></td>
        <td><%= link_to 'Destroy', club_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club request', new_club_request_path %>
