<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club_request.name %>
</p>

<p>
  <strong>Regis num:</strong>
  <%= @club_request.regis_num %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @club_request.admin %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @club_request.contact %>
</p>

<%= link_to 'Edit', edit_club_request_path(@club_request) %> |
<%= link_to 'Back', club_requests_path %>
