<div class="col-md-10 col-md-offset-1">
<h1>All upcoming events</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event  %></td>
        <td><%= event.date %></td>
        <td><%= event.time.to_s(:time) %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
