<h1> Invitation </h1>

<%= form_for @event, :url => submit_invite_path, :method => 'post' do |f|%>
	<ul>
		<% @all_clubs.each do |club| %>
				<% if @event.org_club != club && !@event.invited_clubs.include?(club) && !@event.accepted_clubs.include?(club) && !@event.rejected_clubs.include?(club) %>
				<li>
					<%= check_box_tag 'club_ids[]', club.id %>
					<%= club.name %>
				</li>
				<% end %>
			
		<% end %>
	</ul>

	<%= link_to 'Back', @event %>
	<div class="actions">
    	<%= f.submit 'Submit'%>
  	</div>
<% end %>
