  <p id="notice"><%= notice %></p>

  <div class="page-header">
    <% if @event.admins.include?(current_student) %>
    <div class="pull-right">
      <%= link_to 'Edit event details', edit_event_path(@event), class: "btn btn-info" %><br/><br/>
      <%= button_to 'Invite other clubs', {action: 'invite' , :event_id => @event.id}, class: "btn btn-info" %>
    </div>
    <%end%>

    <h2><%= @event.name %></h2>
    <h4><%= link_to @event.org_club.name, @event.org_club %></h4>
   
    <% @event.accepted_clubs.each do |club| %>
      <small><%= link_to club.name, club %> &nbsp </small>
    <% end %>
    <br/>
    <% if @event.admins.include?(current_student) %>

    <ul class="nav nav-pills">
      <li class="active">
        <a href='#profile' data-toggle='tab'>Event Profile</a>
      </li>
      
      <li>
        <a href='#manage' data-toggle='tab'>Manage</a>
      </li>      
    </ul>
    <%end%>  
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="profile">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-body">
          <strong>Date:</strong>
            <%= @event.date %><br/>
          <strong>Time:</strong>
            <%= @event.time.to_s(:time) %><br/>
          <strong>Location:</strong>
            <%= @event.location %><br/>
        </div>
      </div>

      <%= button_to 'Book Ticket', {action: 'book_ticket' , :event_id => @event.id}, class: "btn btn-success btn-lg" %>
    </div>

    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel panel-heading"><h3 class="panel-title">Description</h3></div>
        <div class="panel-body">
          <%= @event.description %>
        </div>
      </div>

      <h3>Comments</h3>
      <%= form_for :comment, :url => comment_path, :method => 'post' do |f| %>
        <div class="input-group" style="float:left;">
          <%= f.text_field :content , {placeholder: "Comment Here!", class: "form-control"}%>
          <span class="input-group-btn">
            <div class="actions" style="float:left;">
              <%= f.submit 'Post', {class: "btn btn-default"} %>
            </div>
          </span>
        </div>
        
      <% end %>
      <br/><br/><br/>

      <div class="well well-md">
      <% @comments.each do |comment| %>
        
          <strong><%= comment.student.full_name%></strong>:
          <%= comment.content %> <br/><br/>
      <% end %>
      </div>
    </div>
  </div>
  </div>
  </div>

    <div class="tab-pane" id="manage">

  <div class="row">

    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul>
            <li> Total tickets: <%= @total_tickets %> </li>
            <li> Total revenue: <%= @total_revenue %> </li>
          </ul>
        </div>
      </div>

        <%= button_to 'Add Ticket', {action: 'add_ticket' , :event_id => @event.id}, class: "btn btn-info" %><br/>
    </div>

    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel panel-heading"><h3 class="panel-title">Purchase List</h3></div>
          <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Number of Tickets</th>
              <th>Ticket Type</th>
              <th>Ticket Price</th>
              <th>Purchased Date</th>
            </tr>
          </thead>

          <tbody>
          <% @booking_records.each do |relation| %>
            <% relation.each do |booking| %>
              <tr>
                <td><%= booking.student.first_name %></td>
                <td><%= booking.student.last_name %></td>
                <td><%= booking.num_tickets %></td>

                <td><%= booking.ticket.name %></td>
                <td><%= booking.ticket.price %></td>

                <td><%= booking.created_at.to_s(:short) %></td> 
              </tr>
            <% end %>
          <% end %>

          </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  </div>
