Hi <%= @admin.full_name %>,

<p>
  <strong>Name of club:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @request.regis_num %>
</p>

<p>
  <strong>Your admin email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @request.contact %>
</p>

<p>
  <strong>Request Date:</strong>
  <%= @request.created_at %>
</p>

</div>
<br/>
Club was not successfully created: It was rejected by university admin.
<br/>
We are sorry!
<br/>
Your faithfully,
<br/>
University Admin.
<br/>
Club Biz 2014.