Hi there,

<p>
  <strong>Name of club:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @request.regis_num %>
</p>

<p>
  <strong>Your admin email:</strong>
  <%= @request.admin %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @request.contact %>
</p>

<p>
  <strong>Request Date:</strong>
  <%= @request.created_at %>
</p>

</div>
<br/>
Club was not successfully created: The email address is not registered with the university.
<br/>
By the way, you can edit your club details here: <%= edit_club_request_url(@request)%>
<br/>
We are sorry!
<br/>
Your faithfully,
<br/>
University Admin.
<br/>
Club Biz 2014.