<div class="page-header">
	<h1>Welcome, <%= current_student.first_name %> <%= current_student.last_name %>!</h1>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Announcements
			</div>
			<div class="panel-body">
				<% if not @announcements.empty? %>
					<table class="table table-hover">
					<tbody>
					<% @announcements.each do |announcement| %>
						<tr>
						<td><strong><%= link_to announcement.club.name, announcement.club %></strong>:<%= announcement.content %></td>
						</tr>
					<% end %>
					</tbody>
					</table>
				<% else %>
					There is no announcement.
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<ul class="nav nav-pills">
				<li class="dropdown active">
    				<a id="clubDrop" class="dropdown-toggle" data-toggle="dropdown" href="#">
      					Clubs <span class="caret"></span>
    				</a>
    				<ul class="dropdown-menu" role="menu" aria-labelledby="clubDrop">
    					<li class="active"><a href="#memberClub" tabindex="-1" data-toggle="tab">Member Clubs</a></li>
    					<li><a href="#subsClub" tabindex="-1" data-toggle="tab">Subscribed Clubs</a></li>
    					<% if not @clubs_admin.empty? %>
    						<li><a href="#adminClub" tabindex="-1" data-toggle="tab">Admin Clubs</a></li>
    					<% end %>
    					<li><a href="#newClub" tabindex="-1" data-toggle="tab">Register Club</a></li>
    				</ul>
  				</li>
  				</ul>
			</div>

			<div class="panel-body">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="memberClub">
  						<h3>Member Clubs</h3>

						<% if not @clubs_member.empty? %>
							<table class="table table-hover table-condensed">
								<thead>
		      						<tr>
		        						<th>Name</th>
		      						</tr>
		    					</thead>

								<tbody>
								<% @clubs_member.each do |club| %>
									<tr>
										<td><%= link_to club.name, club %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
						<% else %>
							You are not a member of any club.
						<% end %>
  					</div>

  					<div class="tab-pane fade" id="subsClub">
  						<h3>Subscribed Clubs</h3>

  						<% if not @clubs_subscriber.empty? %>
							<table class="table table-hover table-condensed">
								<thead>
		      						<tr>
		        						<th>Name</th>
		      						</tr>
		    					</thead>

								<tbody>
								<% @clubs_subscriber.each do |club| %>
									<tr>
										<td><%= link_to club.name, club %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
						<% else %>
							You are not subscribed to any club.
						<% end %>
  					</div>

  					<% if not @clubs_admin.empty? %>
  					<div class="tab-pane fade" id="adminClub">
  						<h3>Administrating Clubs</h3>

						<table class="table table-hover table-condensed">
							<thead>
								<tr>
			    					<th>Name</th>
								</tr>
							</thead>
							<tbody>
							<% @clubs_admin.each do |club| %>
								<tr>
								<td><%= link_to club.name, club %></td>
								</tr>
							<% end %>
							</tbody>
						</table>
  					</div>
  					<% end %>

  					<div class="tab-pane fade" id="newClub">
  						<h3>Register New Club/Society</h3>
  						<%= link_to "Click here to Register", new_club_request_path, class: "btn btn-lg btn-primary"%>
  					</div>
  				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Events Booked
			</div>
			<div class="panel-body">
				<% if @tickets.exists? %>
					<table class="table table-hover table-condensed">
						<col width="250">
						<col width="250">
						<thead>
							<tr>
								<th>Event Name</th>
								<th>Organising Club</th>
							</tr>
						</thead>
						<tbody>
						<% @my_events.each do |event| %>
							<tr>
								<td><%= link_to event.name, event %></td>
								<td><%= link_to event.org_club.name, event.org_club %></td>
							</tr>
						<% end %>
						</tbody>
					</table>
				<% else %>
					You do not have any booking for event.
				<% end %>
				<%= link_to 'Show my bookings', bookings_path,class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>
