<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Choose</th>
        <th>Name</th>
        <th>Price</th>
        <th>Start date</th>
        <th>Close date</th>
        <th>Msg</th>
        <th>Max no</th>
      </tr>
    </thead>

    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>

        <td><%= radio_button_tag 'ticket_id', ticket.id %></td>
       
        <td><%= ticket.name %></td>
        <td>$<%= ticket.price %></td>
        <td><%= ticket.start_date %></td>
        <td><%= ticket.close_date %></td>
        <td><%= ticket.msg %></td>
        <td><%= ticket.max_no %></td>
      </tr>
    <% end %>
    </tbody> 
  </table>

  <div class="field">
    <div class= "row">
      <div class="col-xs-2" align= "center">
        <%= f.label :Number_of_tickets %><br>
      </div>
      <div class="col-xs-1" >
        <% if @booking.num_tickets.blank? %>
          <%= f.number_field :num_tickets,:value =>1,:in => [ 1,2,3,4 ],class: "form-control"  %>
        <% else %>
          <%= f.number_field :num_tickets,:in => [ 1,2,3,4 ],class: "form-control"  %>
        <% end %>
        
      </div>
      <div class="col-xs-2">
        <div class="actions">
          <%= f.submit "Book now",class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
