<h1>Listing bookings</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Num tickets</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Ticket Name</th>
      <th>Event Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.num_tickets %></td>
        <td><%= Student.find_by(id:booking.student.id).first_name %></td>
        <td><%= Student.find_by(id:booking.student.id).last_name %></td>
        <td><%= Ticket.find_by(id:booking.ticket.id).name %></td>
        <td><%= link_to  Ticket.find_by(id:booking.ticket.id).event.name, Ticket.find_by(id:booking.ticket.id).event %></td>
        <td><%= link_to 'Edit booking', edit_booking_path(booking), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Cancel booking', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
