<div class="col-md-4 col-md-offset-4">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "form-signin") do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true,class: "form-control" %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name,class: "form-control" %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,class: "form-control" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",class: "form-control" %></div>

  <div><%= f.submit "Update",class: "btn btn-lg btn-primary btn-block" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: "btn btn-lg btn-danger btn-block"%></p>

<%= link_to "Back", :back %>

</div>
