
<div class="col-md-4 col-md-offset-4">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Please sign up</h2>
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true,class: "form-control" %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name,class: "form-control" %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true,class: "form-control" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" ,class: "form-control"%></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %></div>

  <div><%= f.submit "Sign up",class: "btn btn-lg btn-primary btn-block" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
